.contedor {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.contedor-elemento {
    padding: 1rem;
}

.modalImg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.table td,
.table th {
    padding: .75rem;
    /* vertical-align: top; */
    border-top: 1px solid #dee2e6;
}

.modalImg[_ngcontent-bll-c13] {
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    /* padding: 5px; */
    width: 52px;
}